*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  /* background-color: #fafafa; */
  background-color: white;
}

.app__header{
  background-color: white;
  padding: 15px 10px 10px 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app__headerImage{
  object-fit: contain;
}

.app__signUp{
  display: flex;
  flex-direction: column;
}
.app__container{
  margin-bottom: 70px;
}
.home{
  display: inline-block;
  background-color: white;
}
.post{
  background-color: white;
  max-width: 500px;
  /* border: 1px solid lightgray; */
  margin-bottom: 20px;
}
.post__image{
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post__text{
  font-weight: normal;
  padding: 1px 10px;
  font-size: 15px;
}
.post__timestamp{
  padding: 0 10px;
  font-size: 13px;
  color: rgb(59, 59, 59);
}
.post__modalTimestamp{
  font-size: 13px;
  color: rgb(59, 59, 59);
}
.post__header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: rgb(253, 253, 253);
}
.post__profile{
  display: flex;
  align-items: center;
}
.post__menu{
  width: 20px;
  height: 20px;
}
.post__menu:hover{
  cursor: pointer;
}
.post__avatar{
  margin-right: 10px;
  width: 35px !important;
  height: 35px !important;
}
.post__headerUsername{
  font-size: 15px;
  color: rgb(39, 39, 39);
  text-decoration: none;
}
.post__headerUsername:hover{
  cursor: pointer;
}

.post__action{
  padding: 1px 10px;
  display: flex;
  flex-direction: row;
}
.post__actionSVG{
  margin-right: 10px;
  width: 35px;
  object-fit: contain;
}
.post__actionSVG:hover{
  cursor: pointer;
}
.post__seeComment{
  padding: 0 10px;
  color: rgb(120, 120, 120);
  font-weight: 400;
  font-size: 15px;
}
.post__comment{
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.post__commentInput{
  width: 85%;
  font-size: 15px;
  border: 0;
}
.post__commentButton{
  width: 15%;
  border: 0;
  background-color: white;
  font-size: 15px;
  color: rgb(21, 59, 131);
  font-weight: 500;
  padding: 5px;
}
.post__commentButton:hover{
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}
.post__like{
  position: absolute;
  width: 300px;
  background-color: white;
  border-radius: 10px;
}
.post__likeTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid lightgray;
}
.post_likeListContainer{
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
}
.post__likeListItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.post__commentM{
  position: absolute;
  width: 300px;
  background-color: white;
  border-radius: 10px;
}
.post__modalCaption{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.post__commentTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid lightgray;
}
.post_commentListContainer{
  padding: 10px 0;
  max-height: 500px;
  overflow-y: auto;
}
.post__modalComment{
  padding: 5px 10px;
  width: 100%;
}
.post__modalCommentInput{
  width: 85%;
  border: 0;
}
.post__modalCommentButton{
  width: 15%;
}


.imageupload{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 10px auto;
  align-items: center;
}
.imageUpload__preview{
  object-fit: contain;
  width: 100%;
  margin-bottom: 10px;
}
.imageupload__progress{
  margin-bottom: 10px;
  width: 100%;
}
.imageupload__input{
  margin-bottom: 20px !important;
  width: 100%;
}
.imageupload__file{
  margin-bottom: 10px;
  width: 100%;
}
.imageupload__button{
  font-weight: bold !important;
}

.profile{
  background: white;
}
.profile__head{
  padding: 10px;
}
.profile__info{
  padding: 10px 10px 10px 10px;
}
.profile__infoA{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.profile__avatar{
  object-fit: contain;
  width: 70px !important;
  height: 70px !important;
}
.profile__infoAB{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__infoB{
  margin-bottom: 10px;
}
.profile__name{
  font-size: 15px;
}
.profile__bio{
  font-size: 15px;
}
.profile__editBtnCont{
  margin-top: 20px;
}
.profile__editBtn{
  width: 100%;
  background: white;
  color: black;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px 0;
  font-weight: bold;
}
.profile__editBtn:hover{
  background: rgb(240, 240, 240);
}
.profile__feedNav{
  display: grid;
  grid-template-columns: auto auto;
  /* flex-direction: row;
  justify-content: space-around; */
  padding: 5px 0 0 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 3px;
}
.feedNavIcon_active{
  border-bottom: 1px solid black;
}
.profile__feedNavIcon{
  margin: auto;
  width: 25px;
  padding-bottom: 5px;
}

.profile__feedGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}


.profile__feedPic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.editProfile__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(247, 247, 247);
  /* border-bottom: 1px solid rgb(192, 192, 192); */
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
}
.editProfile__headerLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.editProfile__title{
  margin-left: 10px;
  font-weight: bold;
}
.editProfile__action{
  width: 25px !important;
  height: 25px !important;
}
.editProfile__action:hover{
  cursor: pointer;
}
.editProfile__form{
  padding: 15px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editProfile__avatar{
  width: 70px !important;
  height: 70px !important;
  margin-bottom: 5px;
}
.editProfile__changepic{
  color: rgb(0,149,246);
  margin-bottom: 10px;
}
.editProfile__input{
  width: 100%;
  margin-bottom: 20px !important;
}
.editProfile__info{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.editProfile__infoTitle{
  margin-bottom: 10px;
}

.BottomNav{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(245, 245, 245);
  padding: 10px 0;
  border-top: 1px solid lightgray;
}
.BottomNav__container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.BottomNav__divSVG{
  width: 30px;
}
.BottomNav__link{
  color: black;
  text-decoration: none;
}
.BottomNav__profile{
  object-fit: contain;
  width: 30px !important;
  height: 30px !important;
  border: 1px solid rgb(180, 180, 180);
}

.search__form{
  /* background: rgb(248, 248, 248); */
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.search__input{
  width: 100%;
  border: 0;
  font-size: 15px;
}
.search__item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.search__avatar{
  margin-right: 10px; 
}


.usernameLink{
  text-decoration: none;
  color: rgb(39, 39, 39);
}
.font-bold{
  font-weight: bold;
}
.font-gray{
  color: rgb(39, 39, 39);
}

@media (min-width: 768px){
  body{
    background: rgb(245, 245, 245);
  }
  .app__header{
    padding: 15px 50px 10px 50px;
  }
  .app__headerRight{
    display: flex;
  }
  .BottomNav{
    position: unset;
    width: unset;
    background-color: unset;
    padding: 0;
    border-top: 0;
  }
  .BottomNav__divSVG{
    margin-right: 15px;
  }
  .BottomNav__divSVG:hover{
    cursor: pointer;
  }
  .app__container{
    background: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .home{
    background: unset;
  }
  .post{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 30px;
  }
  .post__header{
    border-radius: 5px;
  }

  .imageupload{
    width: 60%;
    background-color: white;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .imageUpload__preview{
    width: 60%;
  }

  .profile{
    background-color: unset;  
    max-width: 700px;
  }
  .profile__feedNav{
    margin-bottom: 10px;
  }
  .profile__avatar{
    width: 120px !important;
    height: 120px !important;
    border: 1px solid lightgray;
  }
  .profile__feedGrid{
    grid-gap: 10px;
  }
  .editProfile{
    min-width: 700px;
    background: white;
    margin-top: 20px;
    padding: 10px 20px 50px 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .editProfile__header{
    background: white;
    border: 0;
    box-shadow: unset;
  }
  .singlePost{
    background: white;
    padding-bottom: 20px;
    border: 1px solid lightgray;
    margin-top: 30px;
    border-radius: 5px;
  }

  .search{
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-width: 500px;
    min-height: 250px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .search__form{
    padding: 10px 20px;
  }
  .search__item{
    padding: 10px 20px;
  }
}