*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  background-color: #fafafa;
}

.app__header{
  background-color: white;
  padding: 15px 10px 10px 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app__headerImage{
  object-fit: contain;
}

.app__signUp{
  display: flex;
  flex-direction: column;
}
.app__container{
  margin-bottom: 70px;
}
.home{
  display: inline-block;
  background-color: white;
}
.post{
  background-color: white;
  max-width: 500px;
  /* border: 1px solid lightgray; */
  margin-bottom: 20px;
}
.post__image{
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post__text{
  font-weight: normal;
  padding: 1px 10px;
}
.post__header{
  display:flex;
  align-items: center;
  padding: 10px 10px;
  background-color: rgb(253, 253, 253);
}
.post__avatar{
  margin-right: 10px;
}
.post__action{
  padding: 1px 10px;
  display: flex;
  flex-direction: row;
}
.post__actionSVG{
  margin-right: 10px;
  width: 35px;
  object-fit: contain;
}
.post__comment{
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.post__commentInput{
  width: 85%;
  font-size: 15px;
  border: 0;
}
.post__commentButton{
  width: 15%;
  border: 0;
  background-color: white;
  font-size: 15px;
  color: rgb(21, 59, 131);
  font-weight: 500;
  padding: 5px;
}
.post__commentButton:hover{
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}

.imageupload{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
}

.BottomNav{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(245, 245, 245);
  padding: 10px 0;
  border-top: 1px solid lightgray;
}
.BottomNav__container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.BottomNav__divSVG{
  width: 30px;
}
.BottomNav__link{
  color: black;
}
.BottomNav__profile{
  object-fit: contain;
  width: 30px !important;
  height: 30px !important;
  border: 1px solid rgb(180, 180, 180);
}