*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  background-color: #fafafa;
}

.app__header{
  background-color: white;
  padding: 15px 10px 10px 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app__headerImage{
  object-fit: contain;
}

.app__signUp{
  display: flex;
  flex-direction: column;
}
.app__container{
  margin-bottom: 70px;
}
.home{
  display: inline-block;
  background-color: white;
}
.post{
  background-color: white;
  max-width: 500px;
  /* border: 1px solid lightgray; */
  margin-bottom: 20px;
}
.post__image{
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post__text{
  font-weight: normal;
  padding: 1px 10px;
}
.post__header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: rgb(253, 253, 253);
}
.post__profile{
  display: flex;
  align-items: center;
}
.post__menu{
  width: 20px;
  height: 20px;
}
.post__menu:hover{
  cursor: pointer;
}
.post__avatar{
  margin-right: 10px;
}
.post__action{
  padding: 1px 10px;
  display: flex;
  flex-direction: row;
}
.post__actionSVG{
  margin-right: 10px;
  width: 35px;
  object-fit: contain;
}
.post__actionSVG:hover{
  cursor: pointer;
}
.post__comment{
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.post__commentInput{
  width: 85%;
  font-size: 15px;
  border: 0;
}
.post__commentButton{
  width: 15%;
  border: 0;
  background-color: white;
  font-size: 15px;
  color: rgb(21, 59, 131);
  font-weight: 500;
  padding: 5px;
}
.post__commentButton:hover{
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}
.post__like{
  position: absolute;
  width: 300px;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
}
.post__likeTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid lightgray;
}
.post_likeListContainer{
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
}
.post__likeListItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.imageupload{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
}

.profile{
  background: white;
}
.profile__head{
  padding: 10px;
}
.profile__info{
  padding: 10px 10px 10px 10px;
}
.profile__infoA{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.profile__avatar{
  object-fit: contain;
  width: 70px !important;
  height: 70px !important;
}
.profile__infoAB{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__infoB{
  margin-bottom: 10px;
}
.profile__name{
  font-size: 15px;
}
.profile__bio{
  font-size: 15px;
}
.profile__editBtnCont{
  margin-top: 20px;
}
.profile__editBtn{
  width: 100%;
  background: white;
  color: black;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px 0;
  font-weight: bold;
}
.profile__editBtn:hover{
  background: rgb(240, 240, 240);
}
.profile__feedNav{
  display: grid;
  grid-template-columns: auto auto;
  /* flex-direction: row;
  justify-content: space-around; */
  padding: 5px 0 0 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 3px;
}
.feedNavIcon_active{
  border-bottom: 1px solid black;
}
.profile__feedNavIcon{
  margin: auto;
  width: 25px;
  padding-bottom: 5px;
}

.profile__feedGrid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3px;
}


.profile__feedPic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.BottomNav{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(245, 245, 245);
  padding: 10px 0;
  border-top: 1px solid lightgray;
}
.BottomNav__container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.BottomNav__divSVG{
  width: 30px;
}
.BottomNav__link{
  color: black;
  text-decoration: none;
}
.BottomNav__profile{
  object-fit: contain;
  width: 30px !important;
  height: 30px !important;
  border: 1px solid rgb(180, 180, 180);
}

.font-bold{
  font-weight: bold;
}
.font-gray{
  color: rgb(39, 39, 39);
}